h1 {
    text-shadow: 1px 1px 7px blue;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 75px;
}
#largest {
    background-image: url(background2.png);
    background-position: left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;background-image: url(background2.png);
}