h1 {
    text-shadow: 1px 1px 7px blue;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 75px;
}
#largest {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}
